<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <div>
      Hero
    </div>

    <hr/>
  
    <div>
      <strong>Welcome!</strong>
      <p class="my-5">
        Carol has a sequence of about 12 surgeries. 
        Fortunately, most of the medical costs are covered by health insurance. 
        But we still need to travel over 2000 miles round trip for each surgery.
        Our costs include things like hotels, driving, food, surgical garments, therapy, and pet sitting.
        Our overall costs range from $3,000 to $5,000 per surgery depending on the length of surgery and the length of stay.
      </p>

      <p class="my-5">
        We have been so blessed by the donations of family, friends, and church members. 
        Without them, there was no way to help Carol get the life-saving surgeries she needed.
        But we are doing everything we can also. This is where microgreens come in.
        Through a deep need, and a love of gardening, and needing a source that could be consistent year-round, microgreens seemed perfect.
      </p>

      <p class="my-5">
        As others give us the gift of health, we can give back to their health and well-being, in an eco-friendly, year-round, fun adventure.
      </p>
    </div>

    <hr/>

    <div>
      <strong>Stay up-to-date</strong>
      <p>Sign up for news, specials, and delivery schedules!</p>
    </div>

    <hr/>

    <div>
      Shop
    </div>

    <hr/>

    <footer>Copyright</footer>
  </div>
</div>
