<nav>
  <div>Products
    <div>Products</div>
    <div>Nutrition</div>
    <div>Flavors</div>
    <div>Uses</div>
    <div>Recipes</div>
  </div>
  <div>Orders
    <div>Cart</div>
    <div>In Process</div>
    <div>Delivered</div>
  </div>
  <div>Subscriptions
    <div>Current</div>
    <div>Past</div>
  </div>
</nav>